setuptools
pbr!=2.1.0,>=2.0.0
osc-lib
paramiko
python-ldap
python-openstackclient
keystoneauth1
python-cinderclient
python-glanceclient
python-keystoneclient
python-magnumclient
python-manilaclient
python-novaclient
python-neutronclient
python-swiftclient
SQLAlchemy
PyMySQL
PyYAML
requests
requests-kerberos
zeep
tenacity
radosgw-admin
six
stevedore
arrow>=0.16
cernservicexml>=0.2.0
influxdb
retry
stompest
tenacity
os-client-config
oslo.config
-e git+https://gitlab.cern.ch/cloud-infrastructure/cornerstoneclient.git@master#egg=cornerstoneclient
boto>=2.48.0
